body {
  margin: 0;
  background: linear-gradient(
    100deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(15, 23, 17, 1) 45%,
    rgb(145, 139, 139) 100%
  );
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
}

/* Main page container */

.main-cotainer {
  width: 93%;
  margin-right: auto;
  margin-left: auto;
  padding: 1em;
  margin-bottom: 5em;
}

@media (max-width: 768px) {
  .main-cotainer {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
